{
  "presets": [
    [
      "@babel/env",
      {
        // 为低版本引入babel/polyfill
        "targets": {
          "edge": "17",
          "firefox": "60",
          "chrome": "67",
          "safari": "11.1",
        },
        // 使用useBuiltIns要指定corejs
        "corejs": "2",
        // 只对项目中用到的`esnext`语法进行polyfill处理
        "useBuiltIns": "usage",
      }
    ],
    "@babel/preset-react"
  ],
  // 当我们写一个库文件的时候要在plugins中添加如下配置：
  // 并根据官网安装如下依赖： https://babeljs.io/docs/en/babel-plugin-transform-runtime
  // @babel/plugin-transform-runtime
  // @babel/runtime
  // @babel/runtime-corejs2
  // "plugins": [
  //   [
  //     "@babel/plugin-transform-runtime",
  //     {
  //       "absoluteRuntime": false,
  //       "corejs": 2, 
  //       "helpers": true,
  //       "regenerator": true,
  //       "useESModules": false
  //     }
  //   ]
  // ]
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}